#column-cv .svg-container {
  /*top: 60px;*/
  /*position: absolute;*/
}
#column-cv #svg-container-history svg {
  /* the axis line */
}
#column-cv #svg-container-history svg .axis path,
#column-cv #svg-container-history svg .x.axis line {
  fill: none;
  stroke-opacity: .8;
  stroke: #aaaaaa;
  shape-rendering: crispEdges;
}
#column-cv #svg-container-history svg .x.axis path {
  fill: none;
  stroke: #aaaaaa;
  shape-rendering: crispEdges;
}
#column-cv #svg-container-history svg .line {
  fill: none;
  stroke-width: 7px;
}
#column-cv #svg-container-history svg .bar:hover rect {
  fill: brown;
}
#column-cv #svg-container-history svg .label {
  fill: white;
  font-size: 18px;
}
#column-cv #svg-container-history svg .axis {
  shape-rendering: crispEdges;
}
#column-cv #svg-container-history svg .y.axis line {
  stroke: none;
}
#column-cv #svg-container-history svg .domain {
  stroke: #aaaaaa;
}
#column-cv #svg-container-history svg .tick text {
  fill: #888888;
  font-size: 12px;
}
#column-cv #svg-container-history svg .text-small {
  font-size: 12px;
}
#column-cv #svg-container-skills .node {
  stroke-width: 1.5px;
}
#column-cv #svg-container-skills .label {
  text-anchor: middle;
  font-family: 'Duru Sans', sans-serif !important;
  font-size: 12px;
  fill: white;
  cursor: default;
}
#column-cv #svg-container-skills .level {
  text-anchor: middle;
  font-family: 'Duru Sans', sans-serif !important;
  font-size: 15px;
  fill: #222;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
/*@media screen and (min-width:0\0) { 
	#column-cv  { 
		select {
			background:none;
			padding: 5px;
		}
	}
}
*/
