body {
	margin: 0;
	overflow-x:hidden;
	overflow-y:scroll;
	font-family: 'PT Sans', sans-serif !important;
}

a {
	text-decoration: none;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	margin-right: 20px;
	text-align: center;
	background-color: white;
	z-index: 100;
}

.header-links {
	position: relative;
	height: 40px;
	width: 60%;
	margin: 0 auto 0;
	padding-top: 20px;
	border-bottom: 1px solid #bbb;
}

.header-link {
	margin: 0 20px;
	color: white;
	cursor: pointer;
	color: steelblue;
	
	font-size: 16px;
}

.main-container {
	margin-top: 60px;
	overflow: hidden;
	/*scroll: auto;*/
}

.column {
	float: left;
	height: auto; 
}

.content-container {
	width: 60%;
	margin: 0 auto;
}

#column-home {
	/*border: 1px solid steelblue;*/
	/*background-color: steelblue;*/
}

#column-case-study {
	/*border: 1px solid lavender;*/				

}

#column-maps {
	/*border: 1px solid brown;*/
	/*background-color: brown;*/
	margin: 0 auto;
	font-family: 'PT Sans', sans-serif;	
}

.cover-photo {
	width: 100%;
	min-height: 700px;
	background: url('../images/girl.jpg') no-repeat;

	background-size:cover;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
}

.page_title {		
	width: 80%;
	margin-top: 0.5em;
	margin-bottom: 10px;
	text-align: left;
	font-size: 40pt;
	font-weight: 300;
	color: #677da7;
}

.text-container {
	margin-left: 50px;
}

.section-title {
	font-size: 1.5em;	
	text-align: left;
	margin-top: 80px;
	margin-bottom: 10px;
}

.section-label {
	display: inline-block;
	width: 140px;
	/*font-weight: bold;*/
	color: black;
	font-variant: small-caps;
	font-size: 20px;
}

.section-label .section-label-digits {
	font-size: 14px;
}

a .section-label {
	color: steelblue;
}

.text-grey {
	color: grey;
	font-size: 16px;
}

.section-bottom {
	height: 40px;
}

#column-cv {
	font-size: 18px;
}

#column-cv .section-title {
	margin-top: 40px;
	margin-bottom: 20px;
}

#column-cv .section-title span {
	padding-bottom: 10px;
	border-bottom: 1px solid steelblue;
}

#column-cv .section-text {
	margin-top: 10px;
	margin-bottom: 0;
}

#column-cv #cv-skills .section-text {
	margin-top: 5px;
}

#column-cv .ph-text {
	margin-left: 105px;
	font-size: 16px;
}

.contact-container {
	margin: 0 auto;
	text-align: center;
}

.contact-section {
	display: inline-block;
	margin: 30px 20px 0;
}

.contact-icon {
	font-size: 50px;
	color: #3ca0d3;
}

#email-icon {
	/*color: #f86767;*/
}

#phone-icon {
	/*color: #a3e46b;*/
}

#linkedin-icon {
	font-size: 54px;
	/*color: #63b6e5;*/
}

.contact-map {
	height: 300px;
	margin-top: 30px;
}