.hidden {
  display: none;
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Duru Sans', sans-serif !important;
}
a {
  text-decoration: none;
}
.grey-text {
  color: #aaaaaa;
}
.small-text {
  font-size: 85%;
}
.small-caps {
  font-variant: small-caps;
}
/*----------------------------------------------*/
/*-------- HEADER
/*----------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin-right: 20px;
  text-align: center;
  background-color: white;
  z-index: 100;
}
.header-links {
  position: relative;
  height: 40px;
  width: 60%;
  margin: 0 auto 0;
  padding-top: 20px;
  line-height: 19px;
  border-bottom: 1px solid #bbb;
}
.header-item {
  /*width: 100px;*/
  margin: 0 30px;
  display: inline-block;
  /*border: 1px solid purple;*/
}
.header-link {
  cursor: pointer;
  color: #aaaaaa;
  font-variant: small-caps;
  font-size: 22px;
  /*  border: 1px solid green;*/
}
.header-link span {
  font-size: 18px;
}
.header-brackets {
  position: absolute;
  padding-top: 5px;
}
.header-brackets span {
  font-size: 18px;
  font-variant: small-caps;
  color: #aaaaaa;
  display: inline-block;
}
.header-brackets div {
  width: 20px;
}
/*----------------------------------------------*/
/*-------- COLUMNS
/*----------------------------------------------*/
.main-container {
  margin-top: 60px;
  overflow: hidden;
  /*scroll: auto;*/
}
.column {
  float: left;
  height: auto;
}
.content-container {
  width: 60%;
  margin: 0 auto;
}
#column-home {
  /*border: 1px solid steelblue;*/
  /*background-color: steelblue;*/
}
#column-ux {
  /*border: 1px solid lavender;*/
}
#column-maps {
  /*border: 1px solid brown;*/
  /*background-color: brown;*/
  margin: 0 auto;
  font-family: 'Duru Sans', sans-serif;
}
/*----------------------------------------------*/
/*-------- GENERAL
/*----------------------------------------------*/
.page-title {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 38px;
  font-weight: 300;
  /*color: #677da7;*/
  color: #556;
  font-family: 'PT Sans', sans-serif;
}
.page-text {
  color: #aaaaaa;
  font-size: 16px;
  margin-left: 10px;
}
.section-title {
  font-size: 28px;
  text-align: left;
  margin-top: 80px;
  margin-left: 8px;
  margin-right: 20px;
  color: #aaaaaa;
  display: inline-block;
}
.section-label {
  display: inline-block;
  width: 140px;
  /*font-weight: bold;*/
  color: black;
  font-variant: small-caps;
  font-size: 20px;
}
.section-label .section-label-digits {
  font-size: 14px;
}
a .section-label {
  color: steelblue;
}
a .section-label:hover {
  color: #63b6e5;
}
.text-grey {
  color: grey;
  font-size: 16px;
}
.section-bottom {
  height: 40px;
}
.text-container {
  margin-left: 50px;
}
/*----------------------------------------------*/
/*-------- HOME
/*----------------------------------------------*/
.cover-photo {
  width: 100%;
  min-height: 700px;
  background: url('../images/girl.jpg') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  /* For WebKit*/
  -moz-background-size: cover;
  /* Mozilla*/
  -o-background-size: cover;
  /* Opera*/
}
#home-title-text {
  /*font-size: 40px;*/
  font-family: 'PT Sans', sans-serif;
}
.toc-text:hover {
  color: #63b6e5;
  cursor: pointer;
}
#toc-container {
  margin-top: 30px;
  /*margin-left: 30px;*/
}
.toc-item {
  height: 200px;
  margin-bottom: 30px;
}
.toc-text-container {
  height: 50px;
}
.toc-text {
  /*display: block;*/
  height: 50px;
  /*font-family: @monospace;*/
  font-size: 30px;
  color: #aaaaaa;
  font-family: 'Duru Sans', sans-serif;
}
span.large {
  height: 50px;
  /*font-size: 46px;*/
  color: #aaaaaa;
  font-family: 'Duru Sans', sans-serif;
}
svg#toc-svg circle {
  stroke-width: 1.5px;
  cursor: pointer;
}
svg#toc-svg line {
  stroke: #aaa;
  opacity: 0.5;
}
svg#toc-svg text {
  font-family: 'Duru Sans', sans-serif;
  font-variant: small-caps;
  cursor: pointer;
  /*pointer-events: none;*/
}
/*----------------------------------------------*/
/*-------- UX EXAMPLES
/*----------------------------------------------*/
#column-ux .slides-container {
  /*position: absolute;*/
  margin-top: 0;
}
#column-ux .section-title {
  margin-top: 20px;
  font-style: italic;
  color: #4682b4;
}
#column-ux .section-text {
  margin-top: 10px;
}
#column-ux .slides-container .caption-container {
  border: none;
  width: 100%;
  /*margin-left: 10px;*/
}
#column-ux .slides-container .caption {
  left: 0;
  top: 5px;
  width: 100%;
  text-align: center;
  margin-top: 0;
}
#column-ux .slides-container .caption span {
  margin-left: -5px;
}
#column-ux .slides-container .cbp-fwslider {
  padding: 0 0 50px;
}
#column-ux hr {
  width: 90%;
  margin-bottom: 50px;
}
/*----------------------------------------------*/
/*-------- MAPS
/*----------------------------------------------*/
#column-maps .section-title {
  color: #4682b4;
}
#column-maps .map-text {
  color: #aaaaaa;
  font-size: 16px;
  margin-left: 10px;
}
/*----------------------------------------------*/
/*-------- CV
/*----------------------------------------------*/
#column-cv {
  font-size: 18px;
}
#column-cv .cv-container {
  margin-left: 40px;
}
#column-cv .cv-sections-container {
  position: relative;
  height: 265px;
  margin-left: 0;
  /*margin-top: 50px;*/
}
#column-cv .cv-section {
  display: none;
  position: absolute;
  top: 150px;
}
#column-cv .section-title {
  /*margin-top: 40px;*/
  margin-top: 24px;
  margin-bottom: 10px;
  color: #4682b4;
  font-size: 22px;
}
#column-cv .section-title span {
  /*padding-bottom: 10px;*/
  /*border-bottom: 1px solid @cvColor;*/
}
#column-cv .section-text {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 9px;
  min-width: 140px;
}
#column-cv a .section-label {
  color: #7199f1;
  /*opacity: 0.8;*/
}
#column-cv a .section-label:hover {
  opacity: 0.8;
}
#column-cv #cv-skills .section-text {
  margin-top: 5px;
}
#column-cv .ph-text {
  margin-left: 105px;
  font-size: 16px;
}
#column-cv .menu {
  position: absolute;
  display: inline-block;
  margin-top: 22px;
  margin-left: 15px;
}
#column-cv .menu:hover,
#column-cv .menu:active,
#column-cv .menu:focus {
  outline: none;
  border: 0;
}
#column-cv select {
  width: 128px;
  border: 1px solid #ccc;
  color: steelblue;
  padding: 5px;
  font-size: 14px;
  background: url('../images/down.png');
  background-size: 12px 6px;
  background-position: 92% center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#column-cv input[type="radio"] {
  margin: 3px 3px 0px 5px;
}
#column-cv .svg-container {
  margin-top: 24px;
}
/*----------------------------------------------*/
/*-------- CONTACT
/*----------------------------------------------*/
#column-contact {
  color: #4682b4;
  /* the colored icontact text */
}
#column-contact .contact-container {
  margin: 30px auto;
  /*text-align: center;*/
}
#column-contact .contact-section {
  /*display: inline-block;*/
  margin: 40px  0 20px;
  color: #4682b4;
}
#column-contact .contact-icon {
  font-size: 25px;
  /*color: #3ca0d3;*/
  /*color: steelblue;*/
  /*margin: 0 10px;*/
}
#column-contact .contact-text {
  font-size: 20px;
  color: #bbb;
}
#column-contact .info-text {
  font-size: 25px;
  text-decoration: none;
}
#column-contact #email-icon {
  font-size: 22px;
  /*color: @contactColor;*/
  /*color: #9370DB;		*/
  color: #f86767;
  /*		color: rgb(255, 127, 80);;*/
}
#column-contact .email-text {
  /*color: #f86767;*/
  color: #4682b4;
}
#column-contact .email-text:hover {
  color: #63b6e5;
}
#column-contact #phone-icon {
  color: #73b43b;
}
#column-contact .phone-text {
  /*color: #73b43b;*/
  color: #4682b4;
}
#column-contact .phone-text:hover {
  color: #63b6e5;
  cursor: pointer;
}
#column-contact #linkedin-icon {
  /*color: #63b6e5;*/
  /*color: #9370DB;*/
  color: #ff7f50;
}
#column-contact .linkedin-text {
  line-height: 26px;
  color: #4682b4;
}
#column-contact .linkedin-text:hover {
  color: #63b6e5;
}
#column-contact #marker-icon {
  font-size: 27px;
  color: #9370DB;
}
#column-contact .contact-map {
  height: 260px;
  width: 70%;
  display: inline-block;
  /*margin-left: 120px;*/
  margin-top: 10px;
  border: 2px solid #4682b4;
}
#column-contact .tab-text {
  padding-left: 60px;
}
