.hidden {
  display: none;
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Duru Sans', sans-serif !important;
}
a {
  text-decoration: none;
}
.emphasis {
  color: #6baed6;
  font-size: 16px;
}
.grey-text {
  color: #aaaaaa;
}
.small-text {
  font-size: 85%;
}
.small-caps {
  font-variant: small-caps;
}
.selected {
  color: #6baed6;
}
.notice {
  margin-top: 6px;
  font-size: 12px;
}
/*----------------------------------------------*/
/*-------- HEADER
/*----------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin-right: 20px;
  text-align: center;
  background-color: white;
  z-index: 100;
}
.header-links {
  position: relative;
  height: 40px;
  width: 60%;
  margin: 0 auto 0;
  padding-top: 20px;
  line-height: 19px;
  border-bottom: 1px solid #bbb;
}
.header-item {
  /*width: 100px;*/
  margin: 0 30px;
  display: inline-block;
  /*border: 1px solid purple;*/
}
.header-link {
  cursor: pointer;
  color: #666666;
  font-variant: small-caps;
  font-size: 22px;
  /*  border: 1px solid green;*/
}
.header-link:hover {
  color: #48d1cc;
}
.header-link span {
  font-size: 18px;
}
.header-brackets {
  position: absolute;
  padding-top: 5px;
}
.header-brackets span {
  font-size: 18px;
  font-variant: small-caps;
  color: #666666;
  display: inline-block;
}
.header-brackets div {
  width: 20px;
}
/*----------------------------------------------*/
/*-------- TITLE
/*----------------------------------------------*/
.title {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.title-text {
  font-size: 40px;
  margin: 0 auto;
  color: #777;
}
.title-caption {
  font-size: 18px;
  margin: 6px auto;
  color: #aaa;
}
/*----------------------------------------------*/
/*-------- COLUMNS
/*----------------------------------------------*/
.main-container {
  margin-top: 60px;
  overflow: hidden;
  /*scroll: auto;*/
}
.column {
  float: left;
  height: auto;
}
.content-container {
  width: 60%;
  margin: 0 auto;
}
#column-home {
  /*border: 1px solid steelblue;*/
  /*background-color: steelblue;*/
}
#column-ux {
  /*border: 1px solid lavender;*/
}
#column-maps {
  /*border: 1px solid brown;*/
  /*background-color: brown;*/
  margin: 0 auto;
  font-family: 'Duru Sans', sans-serif;
}
/*----------------------------------------------*/
/*-------- GENERAL
/*----------------------------------------------*/
.page-title {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 38px;
  font-weight: 300;
  /*color: #677da7;*/
  color: #556;
  font-family: 'PT Sans', sans-serif;
  display: none;
}
.page-text {
  color: #aaaaaa;
  font-size: 14px;
  /*margin-left: 10px;*/
}
.section-title {
  font-size: 28px;
  text-align: left;
  margin-top: 80px;
  margin-left: 8px;
  margin-right: 20px;
  color: #666666;
  display: inline-block;
}
.section-label {
  display: inline-block;
  width: 140px;
  /*font-weight: bold;*/
  color: black;
  font-variant: small-caps;
  font-size: 20px;
}
.section-label .section-label-digits {
  font-size: 14px;
}
a .section-label {
  color: steelblue;
}
a .section-label:hover {
  color: #48d1cc;
}
.text-grey {
  color: grey;
  font-size: 16px;
}
.section-bottom {
  height: 40px;
}
.text-container {
  margin-left: 50px;
}
/*----------------------------------------------*/
/*-------- MENU
/*----------------------------------------------*/
.menu {
  margin: 50px 0;
}
.menu-label {
  display: inline-block;
  width: 70px;
  color: #666666;
}
.menu-label:not(:first-child) {
  margin-left: 25px;
}
.btn {
  color: #888;
  border: 1px solid #aaa;
  margin-right: 10px;
  font-size: 13px;
  cursor: pointer;
  padding: 3px 5px 4px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 10px #bbb;
  -mozbox-shadow: 2px 2px 10px #bbb;
  -webkit-box-shadow: 2px 2px 5px #bbb;
  color: #6baed6;
  border-color: #6baed6;
}
.btn:hover {
  /*color: white;*/
  /*background-color: #aaa;*/
  color: #48d1cc;
  border-color: #48d1cc;
}
.btn.selected {
  color: white;
  border-color: #6baed6;
  background-color: #6baed6;
}
.btn.selected:hover {
  /*border-color: @menuHoverColor;
			background-color: @menuHoverColor;*/
}
/*----------------------------------------------*/
/*-------- HOME
/*----------------------------------------------*/
.cover-photo {
  width: 100%;
  min-height: 700px;
  background: url('../images/girl.jpg') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  /* For WebKit*/
  -moz-background-size: cover;
  /* Mozilla*/
  -o-background-size: cover;
  /* Opera*/
}
#home-title-text {
  /*font-size: 40px;*/
  font-family: 'PT Sans', sans-serif;
}
.toc-text:hover {
  color: #48d1cc;
  cursor: pointer;
}
#toc-container {
  margin-top: 120px;
  /*margin-left: 30px;*/
}
.toc-item {
  height: 200px;
  margin-bottom: 30px;
}
.toc-text-container {
  height: 50px;
}
.toc-text {
  /*display: block;*/
  height: 50px;
  /*font-family: @monospace;*/
  font-size: 30px;
  color: #666666;
  font-family: 'Duru Sans', sans-serif;
}
span.large {
  height: 50px;
  /*font-size: 46px;*/
  color: #666666;
  font-family: 'Duru Sans', sans-serif;
}
svg#toc-svg circle {
  stroke-width: 1.5px;
  cursor: pointer;
}
svg#toc-svg line {
  stroke: #aaa;
  opacity: 0.5;
}
svg#toc-svg text {
  font-family: 'Duru Sans', sans-serif;
  font-variant: small-caps;
  cursor: pointer;
  /*pointer-events: none;*/
}
/*----------------------------------------------*/
/*-------- UX EXAMPLES
/*----------------------------------------------*/
#column-ux {
  margin-top: 40px;
}
#column-ux .ux-container {
  height: 0;
  padding-bottom: 50%;
  margin-top: 50px;
}
#column-ux .slides-container {
  position: absolute;
  width: 60%;
}
#column-ux .section-title {
  margin-top: 18px;
  color: #4682b4;
}
#column-ux .section-text {
  margin-top: 10px;
}
#column-ux .slides-container .caption-container {
  border: none;
  width: 100%;
  /*margin-left: 10px;*/
}
#column-ux .slides-container .caption {
  left: 0;
  top: 5px;
  width: 100%;
  text-align: center;
  margin-top: 0;
}
#column-ux .slides-container .caption span {
  margin-left: -5px;
}
#column-ux .slides-container .cbp-fwslider {
  padding: 0 0 50px;
}
#column-ux hr {
  width: 90%;
  margin-bottom: 50px;
}
#column-ux #ux-menu {
  margin-top: 30px;
}
/*----------------------------------------------*/
/*-------- MAPS
/*----------------------------------------------*/
#column-maps {
  margin-top: 40px;
}
#column-maps .section-title {
  color: #4682b4;
}
#column-maps .map-text {
  color: #aaaaaa;
  font-size: 14px;
  /*margin-left: 10px;*/
}
#column-maps #map-menu {
  margin: 20px 0;
  z-index: 100;
}
/*----------------------------------------------*/
/*-------- CV
/*----------------------------------------------*/
#column-cv {
  font-size: 18px;
}
#column-cv .cv-container {
  margin-top: 40px;
  /*margin-left: 40px;*/
}
#column-cv .cv-sections-container {
  position: relative;
  height: 250px;
  margin-left: 0;
  /*margin-top: 50px;*/
}
#column-cv .cv-section {
  display: none;
  position: absolute;
  top: 150px;
}
#column-cv .section-title {
  /*margin-top: 40px;*/
  margin-top: 28px;
  margin-bottom: 6px;
  color: #4682b4;
  font-size: 28px;
  /*padding-bot
	}

	.section-title span {
		tom: 10px;
		border-bottom: 1px solid @cvColor;*/
}
#column-cv .section-text {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 9px;
  min-width: 140px;
}
#column-cv a .section-label {
  color: #6baed6;
  /*opacity: 0.8;*/
}
#column-cv a .section-label:hover {
  opacity: 0.8;
}
#column-cv #cv-skills .section-text {
  margin-top: 5px;
}
#column-cv .ph-text {
  margin-left: 105px;
  font-size: 16px;
}
#column-cv #svg-container-history {
  margin-top: 50px;
}
#column-cv #svg-container-skills {
  margin-top: 0px;
}
#column-cv #cv-menu-skills {
  position: absolute;
}
/*----------------------------------------------*/
/*-------- CONTACT
/*----------------------------------------------*/
#column-contact {
  color: #777777;
  /* the colored icontact text */
}
#column-contact .contact-container {
  margin: 40px auto;
  /*text-align: center;*/
}
#column-contact .contact-text-container {
  width: 25%;
  float: left;
  margin-top: 6px;
}
#column-contact .contact-map-container {
  width: 75%;
  float: right;
}
#column-contact .contact-section {
  /*display: inline-block;*/
  margin-top: 35px;
  color: #777777;
}
#column-contact .contact-icon {
  font-size: 25px;
}
#column-contact .contact-icon:hover {
  color: #48d1cc !important;
  cursor: pointer;
}
#column-contact .contact-text {
  font-size: 18px;
  color: #bbb;
}
#column-contact .info-text {
  font-size: 19px;
  text-decoration: none;
  color: #777777;
}
#column-contact .info-text .linkedin-text {
  line-height: 26px;
}
#column-contact #email-icon {
  font-size: 22px;
  color: #f86767;
}
#column-contact #phone-icon {
  color: #73b43b;
}
#column-contact #linkedin-icon {
  color: #6baed6;
}
#column-contact #instagram-icon {
  color: #ff7f0e;
}
#column-contact #marker-icon {
  font-size: 27px;
  color: #9370db;
}
#column-contact .contact-map {
  height: 270px;
  width: 100%;
  display: inline-block;
  /*margin-left: 120px;*/
  margin-top: 10px;
  border: 2px solid #777777;
}
#column-contact .tab-text {
  padding-left: 60px;
}
@media screen and (max-width: 1400px) {
  .header-links {
    width: 70%;
  }
  .title-text {
    font-size: 32px;
  }
  .title-caption {
    font-size: 18px;
  }
  #toc-container {
    margin-top: 120px;
  }
  .content-container {
    width: 70%;
  }
  #column-ux {
    margin-top: 25px;
  }
  #column-ux .ux-container {
    margin-top: 25px;
  }
  #column-ux .slides-container {
    width: 65%;
  }
  #column-cv .cv-sections-container {
    height: 240px;
  }
  #column-contact .info-text {
    font-size: 16px;
  }
  #column-contact .contact-map {
    /*height: 180px;*/
  }
}
@media screen and (max-width: 1300px) {
  .header-item {
    margin: 0 5px;
  }
  .header-item .header-link {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .header-item {
    margin: 0 15px;
  }
  #column-maps .map-text {
    font-size: 12px;
  }
  #column-cv #svg-container-history svg .label {
    font-size: 16px !important;
  }
  #column-contact .info-text {
    font-size: 14px;
  }
  #column-contact .contact-text-container {
    width: 35%;
  }
  #column-contact .contact-map-container {
    width: 65%;
  }
}
@media screen and (max-width: 1050px) {
  .header-links {
    width: 80%;
  }
  #column-cv #svg-container-history svg .label {
    font-size: 14px !important;
  }
}
