@red:		#f86767;
@green: 	#73b43b;
@blue:	#7199F1;
@purple:	#9370DB;
@orange: 	#ff7f0e;
@lightOrange: #ffbb78;

@blue2:	#4682b4;
@turquoise: 	#48D1CC;
@lightBlue:	#63b6e5;
@grey:	#aaa;

@duru: 	'Duru Sans', sans-serif;
@droid:	'Droid Sans Mono';	
@pt:		'PT Sans', sans-serif;

@uxColor:		steelblue;
@mapsColor:		steelblue;
@cvColor:		steelblue;
@contactColor:	steelblue;

@menuColor:		@grey;
@menuHoverColor: 	@turquoise;
@pageTextColor:	@grey;
@linkColor:		@blue;
@linkHoverColor: 	@turquoise;

@pagetitleFont:	@pt;
@sectionTitleFont:	@duru;
@TOCFont:		@duru;
@textFont:		@duru;

@pageTextFontSize: 16px;

@width: 60%;

.hidden {
  display: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: @textFont !important;
}

a {
  text-decoration: none;
}

.grey-text {
	color: @grey;
}

.small-text {
	font-size: 85%;
}

.small-caps {
	font-variant: small-caps;
}

.selected {
	color: @lightBlue;
}

/*----------------------------------------------*/
/*-------- HEADER
/*----------------------------------------------*/
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	margin-right: 20px;
	text-align: center;
	background-color: white;
	z-index: 100;
}

.header-links {
	position: relative;
	height: 40px;
	width: @width;
	margin: 0 auto 0;
	padding-top: 20px;
	line-height: 19px;
	border-bottom: 1px solid #bbb;
}

.header-item {
  /*width: 100px;*/
  margin: 0 30px;
  display: inline-block;
  /*border: 1px solid purple;*/
}

.header-link {
	cursor: pointer;
	color: @menuColor;
	font-variant: small-caps;
	font-size: 22px;
/*  border: 1px solid green;*/
	
	&:hover {
		color: @linkHoverColor;
	}

	span {
		font-size: 18px;
	}
}


.header-brackets {
	position: absolute;
	padding-top: 5px;

	span {
		font-size: 18px;
		font-variant: small-caps;
		color: @menuColor;
		display: inline-block;
	}

	div {
		width: 20px;
	}
}

/*----------------------------------------------*/
/*-------- COLUMNS
/*----------------------------------------------*/
.main-container {
  margin-top: 60px;
  overflow: hidden;
  /*scroll: auto;*/
}
.column {
  float: left;
  height: auto;
}
.content-container {
  width: @width;
  margin: 0 auto;
}
#column-home {
  /*border: 1px solid steelblue;*/
  /*background-color: steelblue;*/
}
#column-ux {
  /*border: 1px solid lavender;*/
}
#column-maps {
  /*border: 1px solid brown;*/
  /*background-color: brown;*/
  margin: 0 auto;
  font-family: @textFont;
}

/*----------------------------------------------*/
/*-------- GENERAL
/*----------------------------------------------*/
.page-title {
	width: @width;
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 38px;
	font-weight: 300;
	/*color: #677da7;*/
	color: #556;
	font-family: @pagetitleFont;
}

.page-text {
	color: @pageTextColor;
	font-size: @pageTextFontSize;
	margin-left: 10px;
}

.section-title {
	font-size: 28px;
	text-align: left;
	margin-top: 80px;
	margin-left: 8px;
	margin-right: 20px;
	color: @menuColor;
	display: inline-block;
}

.section-label {
	display: inline-block;
	width: 140px;
	/*font-weight: bold;*/
	color: black;
	font-variant: small-caps;
	font-size: 20px;
}

.section-label .section-label-digits {
	font-size: 14px;
}

a .section-label {
	color: steelblue;

	&:hover {
		color: @linkHoverColor;
	}
}

.text-grey {
	color: grey;
	font-size: 16px;
}

.section-bottom {
	height: 40px;
}

.text-container {
	margin-left: 50px;
}


/*----------------------------------------------*/
/*-------- HOME
/*----------------------------------------------*/

.cover-photo {
	width: 100%;
	min-height: 700px;
	background: url('../images/girl.jpg') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	/* For WebKit*/
	-moz-background-size: cover;
	/* Mozilla*/
	-o-background-size: cover;
	/* Opera*/
}


#home-title-text {
	/*font-size: 40px;*/
	font-family: @pagetitleFont;
}

#home-content {
	
}

.toc-text:hover {
	color: @menuHoverColor;
	cursor: pointer;
}


#toc-container {
  	margin-top: 30px;
  	
  	/*margin-left: 30px;*/
}

.toc-item {
	height: 200px;
  	margin-bottom: 30px;
}

.toc-text-container {
	height: 50px;
}

.toc-text {
	/*display: block;*/
	height: 50px;
	/*font-family: @monospace;*/
	font-size: 30px;
	color: @menuColor;
	font-family: @sectionTitleFont;
}

span.large {
	height: 50px;
	/*font-size: 46px;*/
	color: @menuColor;
	font-family:@sectionTitleFont;
}


svg#toc-svg {
	circle {
	  	stroke-width: 1.5px;
	  	cursor: pointer;
	}

	line {
	  	stroke: #aaa;
	  	opacity: 0.5;
	}

	text {
		font-family:@TOCFont;
		font-variant: small-caps;
		cursor: pointer;
		/*pointer-events: none;*/
	}
}


/*----------------------------------------------*/
/*-------- UX EXAMPLES
/*----------------------------------------------*/
#column-ux {
	.slides-container {
		/*position: absolute;*/
		margin-top: 0;
	}

	.section-title {
		margin-top: 20px;
		font-style: italic;
		color: @uxColor;
	}

	.section-text {
		margin-top: 10px;
	}

	.slides-container {
		.caption-container {
			border: none;
			width: 100%;
			/*margin-left: 10px;*/
		}

		.caption {
			left: 0;
			top: 5px;
			width: 100%;
			text-align: center;
			margin-top: 0;

			span {
				margin-left: -5px;
			}

		}

		.cbp-fwslider {
			padding: 0 0 50px;
		}
	}

	hr {
		width: 90%;
		margin-bottom: 50px;
	}
}

/*----------------------------------------------*/
/*-------- MAPS
/*----------------------------------------------*/
#column-maps {
	.section-title {
		color: @mapsColor;
	}

	 .map-text {
		color: @pageTextColor;
		font-size: @pageTextFontSize;
		margin-left: 10px;
	}
}

/*----------------------------------------------*/
/*-------- CV
/*----------------------------------------------*/
#column-cv {
 	font-size: 18px;

 	.cv-container {
 		margin-left: 40px;
 	}

 	.cv-sections-container {
		position: relative;
		height: 290px;
		margin-left: 0;
		/*margin-top: 50px;*/
	}

	.cv-section {
		display: none;
		position: absolute;
		top: 150px;
	}

	.section-title {
		/*margin-top: 40px;*/
		margin-top: 28px;
		margin-bottom: 6px;
		color: @cvColor;
		font-size: 28px;
	}

	.section-title span {
		/*padding-bottom: 10px;
		border-bottom: 1px solid @cvColor;*/
	}

	 .section-text {
		margin-top: 10px;
		margin-bottom: 0;
		margin-left: 9px;
		min-width: 140px;
	}

	 a .section-label {
		color: @linkColor;
		/*opacity: 0.8;*/

		&:hover {
			opacity: 0.8;
		}
	}

	 #cv-skills .section-text {
		margin-top: 5px;
	}

	 .ph-text {
		margin-left: 105px;
		font-size: 16px;
	}

	.cv-menu {
		margin-left: 8px;
	}

	.btn-cv {
		font-size: 16px;
		cursor: pointer;

		&:hover {
			color: @menuHoverColor;
		}
	}	

	.svg-container {
		margin-top: 24px;
	}
}

/*----------------------------------------------*/
/*-------- CONTACT
/*----------------------------------------------*/
#column-contact {
	color: @contactColor;

	.contact-container {
		margin: 30px auto;
		/*text-align: center;*/
	}

	.contact-section {
		/*display: inline-block;*/
		margin: 40px  0 20px;
		color: @contactColor;
	}

	.contact-icon {
	  font-size: 25px;
	  /*color: #3ca0d3;*/
	  /*color: steelblue;*/
	  /*margin: 0 10px;*/
	}	

	.contact-text {
		font-size: 20px;
		color: #bbb;
	}

	/* the colored icontact text */
	.info-text {
		font-size: 25px;
		text-decoration: none;
	}

	#email-icon {
		font-size: 22px;
		/*color: @contactColor;*/
		/*color: #9370DB;		*/ 
		color: #f86767;
/*		color: rgb(255, 127, 80);;*/
	}

	.email-text {
		/*color: #f86767;*/
		color: @contactColor;

		&:hover {
			color: @menuHoverColor;
		}
	}

	#phone-icon {
		color: #73b43b;
	}

	.phone-text {
		/*color: #73b43b;*/
		color: @contactColor;

		&:hover {
			color: @menuHoverColor;
			cursor: pointer;
		}
	}

	#linkedin-icon {
		/*color: #63b6e5;*/
		/*color: #9370DB;*/
		color: rgb(255, 127, 80)
	}

	.linkedin-text {
		line-height: 26px;
		color: @contactColor;

		&:hover {
			color: @menuHoverColor;
		}
	}

	#marker-icon {
		font-size: 27px;
		color: #9370DB;
	}

	.contact-map {
		height: 260px;
		width: 70%;
		display: inline-block;
		/*margin-left: 120px;*/
		margin-top: 10px;
		border: 2px solid @contactColor;
	}

	.tab-text {
		padding-left: 60px;
	}
}

@media screen and (max-width: 1400px){
	.content-container {
  		width: 70%;
  	}
}

@media screen and (max-width: 1200px) {
	.content-container {
  		width: 80%;
  	}

	.header-item {
		margin: 0 15px;
	}

	#column-cv #svg-container-history svg .label {
		font-size: 16px !important;
	}
}

@media screen and (max-width: 1000px) {
	.header-item {
		margin: 0 5px;

		.header-link {
			font-size: 18px;
		}
	}

	#column-cv #svg-container-history svg .label {
		font-size: 14px !important;
	}

	
}
