@red:		#f86767;
@green: 	#73b43b;
@blue:		#6baed6;
@purple:	#9370DB;
@orange: 	#ff7f0e;
@lightOrange: #ffbb78;

@blue2:	#4682b4;
@turquoise: 	#48D1CC;
@lightBlue:	#63b6e5;
@lightGreen:	#0c0;
@grey:		#aaa;
@darkGrey: 	#666;

@duru: 	'Duru Sans', sans-serif;
@pt:		'PT Sans', sans-serif;
@sanchez: 	'Sanchez', serif;

@uxColor:		steelblue;
@mapsColor:		steelblue;
@cvColor:		steelblue;
@contactColor:	#777;

@menuColor:		@darkGrey;
@menuHoverColor: 	@turquoise;
@menuSelectedColor: @blue;
@pageTextColor:	@grey;
@linkColor:		@blue;
@linkHoverColor: 	@purple;

@emailColor:		@red;
@phoneColor:		@green;
@linkedinColor:	@blue;
@instagramColor:	@orange;
@markerColor:	@purple;

@titleFont:		@sanchez;
@pagetitleFont:	@pt;
@sectionTitleFont:	@duru;
@TOCFont:		@duru;
@textFont:		@duru;

@pageTextFontSize: 14px;
@pageTextFontSizeSmall: 12px;

@width: 60%;
@headerHeight: 60px;

.hidden {
  display: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: @textFont;
}

a {
  text-decoration: none;
}

.emphasis {
	color: @blue;
	font-size: 16px;
}

.grey-text {
	color: @grey;
}

.small-text {
	font-size: 85%;
}

.small-caps {
	font-variant: small-caps;
}

.selected {
	color: @menuSelectedColor;
}

.notice {
	margin-top: 6px;
	font-size: 12px;
}

/*----------------------------------------------*/
/*-------- HEADER
/*----------------------------------------------*/
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: @headerHeight;
	margin-right: 20px;
	text-align: center;
	background-color: white;
	z-index: 100;
}

.header-links {
	position: relative;
	height: 40px;
	width: @width;
	margin: 0 auto 0;
	padding-top: 20px;
	line-height: 19px;
	border-bottom: 1px solid #bbb;
}

.header-item {
  /*width: 100px;*/
  margin: 0 30px;
  display: inline-block;
  /*border: 1px solid purple;*/
}

.header-link {
	cursor: pointer;
	color: @menuColor;
	font-variant: small-caps;
	font-size: 18px;
/*  border: 1px solid green;*/
	
	&:hover {
		color: @linkHoverColor;
	}

	span {
		font-size: 18px;
	}
}


.header-brackets {
	position: absolute;
	padding-top: 5px;

	span {
		font-size: 18px;
		font-variant: small-caps;
		color: @menuColor;
		display: inline-block;
	}

	div {
		width: 20px;
	}
}

.header-title {
	position: absolute;
	font-size: 22px;
	font-family: @titleFont;
	line-height: 21px;
	color: #555;
	cursor: pointer;

	&:hover {
		color: @menuHoverColor;
	}
}

.header-logo {
	position: absolute;
	top: 15px;
	cursor: pointer;
	opacity: 0.7;
}

/*----------------------------------------------*/
/*-------- TITLE
/*----------------------------------------------*/
.title {
	position: fixed;
	width: 100%;
	text-align: center;
	padding-top: 30px;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		padding-top: 80px;
	}
}

.title-text {
	font-size: 42px;
	margin: 0 auto;
	color: #777;
	font-family: @titleFont;
}

.title-caption {
	font-size: 17px;
	margin: 2px auto;
	color: #aaa;
}

/*----------------------------------------------*/
/*-------- COLUMNS
/*----------------------------------------------*/
.main-container {
  margin-top: 60px;
  overflow: hidden;
  /*scroll: auto;*/
}
.column {
  float: left;
  height: auto;
}
.content-container {
  width: @width;
  margin: 0 auto;
}
#column-home {
  /*border: 1px solid steelblue;*/
  /*background-color: steelblue;*/
}
#column-ux {
  /*border: 1px solid lavender;*/
}
#column-maps {
  /*border: 1px solid brown;*/
  /*background-color: brown;*/
  margin: 0 auto;
  font-family: @textFont;
}

/*----------------------------------------------*/
/*-------- GENERAL
/*----------------------------------------------*/
.page-title {
	width: @width;
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 38px;
	font-weight: 300;
	/*color: #677da7;*/
	color: #556;
	font-family: @pagetitleFont;
	display: none;
}

.page-text {
	color: @pageTextColor;
	font-size: @pageTextFontSize;
	/*margin-left: 10px;*/
}

.section-title {
	font-size: 28px;
	text-align: left;
	margin-top: 80px;
	margin-left: 8px;
	margin-right: 20px;
	color: @menuColor;
	display: inline-block;
}

.section-label {
	display: inline-block;
	width: 140px;
	/*font-weight: bold;*/
	color: black;
	font-variant: small-caps;
	font-size: 20px;
}

.section-label .section-label-digits {
	font-size: 14px;
}

a .section-label {
	color: steelblue;

	&:hover {
		color: @linkHoverColor;
	}
}

.text-grey {
	color: grey;
	font-size: 16px;
}

.section-bottom {
	height: 40px;
}

.text-container {
	margin-left: 50px;
}


/*----------------------------------------------*/
/*-------- MENU
/*----------------------------------------------*/
.menu {	
	margin: 50px 0;
}

.menu-label {
	display: inline-block;
	width: 70px;
	color: @darkGrey;

	&:not(:first-child) {
		margin-left: 25px;
	}
}

.btn {
	color: #888;
	border: 1px solid #aaa;

	margin-right: 10px;
	font-size: 13px;
	cursor: pointer;
	padding: 3px 5px 4px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 2px 2px 10px #bbb;
	-mozbox-shadow: 2px 2px 10px #bbb;
	-webkit-box-shadow: 2px 2px 5px #bbb;


	color: @menuSelectedColor;
	border-color: @menuSelectedColor;

	&:hover {
		/*color: white;*/
		/*background-color: #aaa;*/
		color: @menuHoverColor;
		border-color: @menuHoverColor;
	}

	&.selected {
		color: white;
		border-color: @menuSelectedColor;
		background-color: @menuSelectedColor;

		&:hover {
			border-color: @menuHoverColor;
			background-color: @menuHoverColor;
		}
	}
}	


/*----------------------------------------------*/
/*-------- HOME
/*----------------------------------------------*/

.cover-photo {
	width: 100%;
	min-height: 700px;
	background: url('../images/girl.jpg') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	/* For WebKit*/
	-moz-background-size: cover;
	/* Mozilla*/
	-o-background-size: cover;
	/* Opera*/
}


#home-title-text {
	/*font-size: 40px;*/
	font-family: @pagetitleFont;
}

#home-content {
	
}

.toc-text:hover {
	color: @menuHoverColor;
	cursor: pointer;
}


#toc-container {
  	margin-top: 160px;
  	/*margin-left: 30px;*/
}

.toc-item {
	height: 200px;
  	margin-bottom: 30px;
}

.toc-text-container {
	height: 50px;
}

.toc-text {
	/*display: block;*/
	height: 50px;
	/*font-family: @monospace;*/
	font-size: 30px;
	color: @menuColor;
	font-family: @sectionTitleFont;
}

span.large {
	height: 50px;
	/*font-size: 46px;*/
	color: @menuColor;
	font-family:@sectionTitleFont;
}


svg#toc-svg {
	circle {
	  	stroke-width: 1.5px;
	  	cursor: pointer;
	}

	line {
	  	stroke: #aaa;
	  	opacity: 0.5;
	}

	text {
		font-family:@TOCFont;
		font-variant: small-caps;
		cursor: pointer;
		/*pointer-events: none;*/
	}
}


/*----------------------------------------------*/
/*-------- UX EXAMPLES
/*----------------------------------------------*/
#column-ux {
	margin-top: 40px;

	.ux-container {
		height: 0;
		padding-bottom: 50%;
		margin-top: 50px;
	}
	.slides-container {
		position: absolute;
		width: 60%;
	}

	.section-title {
		margin-top: 18px;
		color: @uxColor;
	}

	.section-text {
		margin-top: 10px;
	}

	.slides-container {
		.caption-container {
			border: none;
			width: 100%;
			/*margin-left: 10px;*/
		}

		.caption {
			left: 0;
			top: 5px;
			width: 100%;
			text-align: center;
			margin-top: 0;

			span {
				margin-left: -5px;
			}

		}

		.cbp-fwslider {
			padding: 0 0 50px;
		}
	}	

	hr {
		width: 90%;
		margin-bottom: 50px;
	}

	#ux-menu {
		margin-top: 30px;
	}
}

/*----------------------------------------------*/
/*-------- MAPS
/*----------------------------------------------*/
#column-maps {
	margin-top: 40px;

	.section-title {
		color: @mapsColor;
	}

	 .map-text {
		color: @pageTextColor;
		font-size: @pageTextFontSize;
	}

	#map-menu {
		margin: 35px 0 15px;
		z-index: 100;
	}
}

/*----------------------------------------------*/
/*-------- CV
/*----------------------------------------------*/
#column-cv {

 	font-size: 18px;

 	.cv-container {
 		margin-top: 40px;
 		/*margin-left: 40px;*/
 	}

 	.cv-sections-container {
		position: relative;
		height: 250px;
		margin-left: 0;
		/*margin-top: 50px;*/

		&#skills-sections-container {
			height: 300px;
		}
	
	}


	.cv-section {
		display: none;
		position: absolute;
		top: 150px;
	}

	.section-title {
		/*margin-top: 40px;*/
		margin-top: 28px;
		margin-bottom: 6px;
		color: @cvColor;
		font-size: 28px;/*padding-bot
	}

	.section-title span {
		tom: 10px;
		border-bottom: 1px solid @cvColor;*/
	}

	 .section-text {
		margin-top: 10px;
		margin-bottom: 0;
		margin-left: 9px;
		min-width: 140px;
	}

	 a .section-label {
		color: @linkColor;
		/*opacity: 0.8;*/

		&:hover {
			opacity: 0.8;
		}
	}

	 #cv-skills .section-text {
		margin-top: 5px;
	}

	 .ph-text {
		margin-left: 105px;
		font-size: 16px;
	}

	#svg-container-history {
		margin-top: 50px;
	}

	#svg-container-skills {
		margin-top: 0px;
	}

	#cv-menu-skills {	
		position: absolute;
	}
}

/*----------------------------------------------*/
/*-------- CONTACT
/*----------------------------------------------*/
#column-contact {
	color: @contactColor;

	.contact-container {
		margin: 40px auto;
		/*text-align: center;*/
	}

	.contact-text-container {
		width: 25%;
		float: left;
		margin-top: 6px;
	}

	.contact-map-container {
		width: 75%;
		float: right;
	}

	.contact-section {
		/*display: inline-block;*/
		margin-top: 35px;
		color: @contactColor;
	}

	.contact-icon {
		  font-size: 25px;
		
		  &:hover {
			color: @menuHoverColor !important;
			cursor: pointer;
		}
	}	

	.contact-text {
		font-size: 18px;
		color: #bbb;

		
	}

	/* the colored icontact text */
	.info-text {
		font-size: 19px;
		text-decoration: none;
		color: @contactColor;	

		.email-text {}
		.phone-text {}
		.linkedin-text {
			line-height: 26px;
		}
	}

	#email-icon {
		font-size: 22px;	
		color: @emailColor;
	}

	#phone-icon {
		color: @phoneColor;
	}

	#linkedin-icon {
		color: @linkedinColor;
	}
	
	#instagram-icon {
		color: @instagramColor;		
	}

	#marker-icon {
		font-size: 27px;
		color: @markerColor;
	}

	.contact-map {
		height: 270px;
		width: 100%;
		display: inline-block;
		/*margin-left: 120px;*/
		margin-top: 10px;
		border: 2px solid @contactColor;
	}

	.tab-text {
		padding-left: 60px;
	}
}

@media screen and (max-width: 1400px){
	.header-links {
		width: 70%;
	}

	.title-text {
		font-size: 32px;
	}

	.title-caption {
		font-size: 16px;
	}

	#toc-container {
  		margin-top: 120px;
  	}

	.content-container {
  		width: 70%;
  	}

  	#column-ux {
  		margin-top: 25px;

  		.ux-container {
  			margin-top: 25px;
  		}

		.slides-container {
			width: 65%;
		}
	}

	#column-cv {
		.cv-sections-container {
			height: 240px;

			&#skills-sections-container {
				height: 270px;
			}
		}

	}

	#column-contact {
		.info-text {
			font-size: 16px;
		}

		.contact-map {
			/*height: 180px;*/
		}
	}
}

@media screen and (max-width: 1300px) {
	.header-item {
		margin: 0 5px;	

		.header-link {
			font-size: 18px;
		}
	}

	
}

@media screen and (max-width: 1200px) {
	
	.header-item {
		margin: 0 15px;
	}

	

	#column-maps {
		.map-text {
			font-size: @pageTextFontSizeSmall;
		}		
	}
	#column-cv #svg-container-history svg .label {
		font-size: 16px !important;
	}

	#column-contact {
		.info-text {
			font-size: 14px;
		}

		.contact-text-container {
			width: 35%;
		}

		.contact-map-container {
			width: 65%;
		}
	}

	
}

@media screen and (max-width: 1050px) {
	.header-links {
		width: 80%;
	}

	#column-cv #svg-container-history svg .label {
		font-size: 14px !important;
	}

}
